$color-red3: #d41f16;
$color-red-4: #fff1f0;

$color-pp-blue: #00a9b7;
$color-pp-blue1: #01b2c0;

$color-light-white6: #e6f5f6;
$color-light-white8: #f7f7f9;
$color-light-white36: #fcfdfd;

$color-pp-ligher-blue23: #768da0;
$color-pp-ligher-blue25: #c6d6e5;
$color-pp-ligher-blue26: #848796;

$color-dark-grey5: #87888c;
$color-dark-grey6: #fafafa;
$color-dark-grey62: #cacece;
$color-light-grey4: #8fa4af;

$color-light-grey16: #cccccc;
$color-lighter-grey25: #90a0ae;
$color-lighter-grey69: #879ba0;
$color-lighter-grey73: #a1a8ae;
